.demo-main {
    padding: 45px 0 1000px 0;
}

  
  .button_w_tooltip {
    background-size: cover;
    background-repeat: no-repeat;
    order: 2;
  }
  
  .tooltip_space {
    height: 25px;
  }
  
  .over_button {
    order: 1;
  }
  
  .under_button {
    order: 3;
  }
  